<div class= container>
    
    <br>
     
     <div class="jumbotron">
         
         <h1 class="display-4"> <b> {{edados.nome}} </b> </h1>
         
         <p class="lead"> <b> {{edados.endereco}} </b> </p>
         
         <hr class="my-4">
         
         <p>{{edados.contato}}</p>
         
         <a class="btn btn-primary btn-lg" href="" role="button">Acesso</a>

         <i class="glyphicon glyphicon-tasks"></i>
         
     </div>
    
 
 </div>